{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block head_title %}{% endblock %}</title>
        <link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet"
               href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/minified/jquery-ui.min.css" />
        <link rel="stylesheet"
              href="{% static 'css/style.css' %}" />
		{% block extra_head %}{% endblock %}
	</head>

	<body>
		<div id="menu-haut">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<a href="{% url 'home' %}"><img src="{% static 'img/Partybox.png' %}"></a>
					</div>

					<div class="col-md-6" id="menu-haut-gauche">
						<input type="text" name="q" id="q" class="form-control" placeholder="Rechercher un article"/>

						{% if user.is_authenticated %}
							<a href="{% url 'account_logout' %}">Logout</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		{% block body %}

			{% if messages %}
				<div>
					<strong>Messages:</strong>
					<ul>
						{% for message in messages %}
							<li>{{message}}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			{% block content %}{% endblock %}
		{% endblock %}

		{% block extra_body %}{% endblock %}

    <script type="text/javascript"
             src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <script type="text/javascript"
             src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
             src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js">
    </script>

    <script>
        $(function () {

            $("#q").autocomplete({

                source: '{% url 'search' %}',
                minLength:2,
                select: function( event, item ) {
                    if(item.item['url'])
                        document.location='/box/' + item.item['url']
                },
            });
        });
    </script>

		{% block js %}{% endblock %}
	</body>
</html>