{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% load socialaccount %}
{% block content %}

<div class="container">
	<div class="row">
  		<div class="col-md-8">
  			<div class="news">
	  			<div id="box-list-preview">Chargement en cours ...</div>
			</div>
		</div>

  		<div class="col-md-4" style="background-color: #eee; border-radius: 6px; margin-top:15px; padding-bottom:15px">
			<h1>Login</h1>

			<form class="login" method="POST" action="{% url 'account_login' %}">
                {% for input in form %}
                    {% if input.is_hidden  %}
                        {{ input }}
                    {% else %}
                        <div class="form-group {% if input.errors %}has-error{% endif %} {% if input.name == 'remember' %}display: inline-block;{% endif %}">
                            <label for="id_{{ input.name }}">{{ input.label }}</label>

                            {% if input.name == 'remember' %}
                                {% render_field input placeholder=input.label style="margin-left: 10px;" %}
                            {% else %}
                                {% render_field input placeholder=input.label class+='form-control' %}
                            {% endif %}
                            <div class="clear"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            <a href="{% provider_login_url "facebook" %}"><img src="{% static 'img/socials/facebook-32x32.png' %}" /></a>
            <a href="{% provider_login_url "facebook" %}"><img src="{% static 'img/socials/flickr-32x32.png' %}" /></a>
            <a href="{% provider_login_url "facebook" %}"><img src="{% static 'img/socials/google-32x32.png' %}" /></a>
                {% csrf_token %}
                {% comment %}{{ form.as_p }}{% endcomment %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                   <p><a href="{{ signup_url }}">Signup</a></p>

				  <button class="btn btn-success" type="submit">Enregistrement</button>

				  <a class="btn btn-default" style="float:right" href="{% url 'account_reset_password' %}">Mot de passe perdu</a>
				  <div class="clear"></div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}



{% block js %}
	<script>
		{% include "boxes/box_ajax_list.html" with url="/box/popular_boxes" id="box-list-preview" title="Les boites de souvenirs public"%}
	</script>
  {{ block.super }}
{% endblock %}