
<script src="/static/picture_tag/js/jquery.phototag.js" type="text/javascript"></script>



<div>
	<img src="" class="photoTag img-responsive" data-id="">
</div>

<div>
	<a href="#" class="addTag">Ajout d'un tag</a>
</div>

<script>
	$(document).ready(function(){
		$('.photoTag').photoTag({
			requestTagsUrl: '/picture-tag/list',
			deleteTagsUrl: '/picture-tag/del',
			addTagUrl: '/picture-tag/add',
			externalAddTagLinks: {
				bind: true,
				selector: '.addTag'
			},
			parametersForNewTag: {
				name: {
					parameterKey: 'name',
					isAutocomplete: true,
					autocompleteUrl: '/picture-tag/auto-complete',
					label: 'Name'
				}
			},
			parametersForRequest: ['id'],
		});
	});
</script>
