{% load staticfiles %}

<form action="/upload/process/{{ box_id }}" class="dropzone" id="dropzone">
    {% csrf_token %}
</form>

<script src="{% static 'js/dropzone.js' %}"></script>
<script type="text/javascript">
Dropzone.options.dropzone = {
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 2, // MB
    acceptedFiles: ".jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF",
    method: "post",
};
</script>