#map {
  border: 1px solid #DDD;
  width:500px;
  height: 500px;
  margin: 10px 0 10px 0;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}

/* LES NEWS */
/* le bloc entier des news */
#blocNews{
  margin-left: 0px;
  margin-top:20px;
  display: inline;
  float: left;
}
/* le cadre de la news */
#cadreNew{
  width:350px;
  margin-bottom:20px;
}
/* L'image de la news */
#imageNews{
  width:410px;
  height:231px;
}
#titre{
  font-weight:Bold;
  letter-spacing:-1pt;word-spacing:2pt;
  font-size:20px;text-align:center;
  font-family:Lucida Sans, sans-serif;
  line-height:1;
  padding-top:10px;
}


ul.photo-thumbs > li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

#researchBar{
  float:right;
  display:inline-block;
  margin-left: 30px;
  color: #5CCCCC;
  font-weight: bold;
  vertical-align: middle;
}



/*#holder { border: 10px dashed #ccc; width: 300px; min-height: 300px; margin: 20px auto;}*/
#holder { background-image: url(../img/upload_logo.png); width: 321px; height: 322px; background-size: 100% 100%; }
/*#holder.hover { border: 10px dashed #0c0; }*/
#holder:hover { background-image: url(../img/upload_logo_hover.png); width: 321px; height: 322px; background-size: 100% 100%; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}

.photos{
width: 1170px;
}

/* LE MENU */
/* Logo dans le menu a gauche */
#logo{
  display:inline-block;
  margin-left: 30px;
  color: #5CCCCC;
  font-weight: bold; font-size: 70px;
  vertical-align: middle;
}
/* Les boutton menu */
#menuheader{
  display:inline-block;
  margin-left: 30px;
  margin-top:50px;
  font-family: "Open Sans", sans-serif;
}

#linkMenu{
  font-family:HeveticaNeue ,sans-serif;font-size:18px;
}


#menuHaut{
  background-color:#4A788F;
  top:0;
  color: white;
  border-bottom-style:solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
}
#menuHaut  a {
  text-decoration:none;
  color: white;
}
#menuHaut  a:visited {
  color: white;
}
#menuHaut  a:hover {
  color: #5CCCCC;
}

#linkMail a{
  text-decoration:none;
  color: white;
}
#linkMail a:visited {
  color: white;
}
#linkMail a:hover {
  color: #5CCCCC;
}

.box-preview {
	padding: 10px;
	background-color: #f4f8fa;
	border-left: 3px solid #bce8f1;
}

.clear {
	clear: both;
}
