#menu-haut {
	background-color:#4A788F;
	color: white;
	border-bottom-style:solid;
	border-bottom-color: gray;
	border-bottom-width: 1px;
	padding: 10px 0px;
	margin-bottom: 10px;
}

#menu-haut a {
	text-decoration:none;
	color: white;
}

#menu-haut a:visited {
	color: white;
}

#menu-haut a:hover {
	color: #5CCCCC;
}

#menu-haut-gauche {
	text-align: right;
}

@media(min-width:768px) {
	#menu-haut-gauche {
		margin-top: 60px;
	}
}

#menu-haut-gauche a {
	font-family: HeveticaNeue, sans-serif;
	font-size: 18px;
}

#menu-haut-gauche input {
	width: auto;
	display: inline-block;
	margin-right: 10px;
}

.clear {
	clear: both;
}

.btn-block {
    display: block;
    margin: 2px;
}

#map {
    margin-top: 50px;
    width: 100%;
    height: 400px;
}

.box-preview {
	padding: 10px;
	background-color: #f4f8fa;
	border-left: 3px solid #bce8f1;
}