$.getJSON("{{ url }}", function( data ) {

	var htmlTab = []

	{% if title %}
		htmlTab.push('<h1>{{title}}</h1>')
	{% endif %}

    if(data == null || data == undefined || data.length == 0){
        htmlTab.push('<b>No box in this category</b>')
    } else {
        $.each( data, function( key, val ) {
            url = '/box/' + val['slug']
            html = '<div class="box-preview media">'

            if (val['pic'])
                html += '<a class="pull-right" href="' + url + '">' +
                            '<img class="media-object" src="' + val['pic'] + '" height="50px" alt="image"/>' +
                        '</a>'

            html += '<div class="media-body">' +
                        '<a href="' + url + '">' + val['name'] + '</a>' +
                    '</div>' +
                '</div>'

            htmlTab.push(html)
        });
    }
	$("#{{ id }}").html( htmlTab.join('') )
});
