{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load box_filters %}

{% block extra_head %}
    <link href="{% static 'css/dropzone.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css" />
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
  		<div class="col-md-9">
            <h1>{{ box.name }}</h1>


                {% if box.pictures.exists %}
					{% for picture in box.pictures.all %}
                        <a href="{{ picture.picture.url }}" data-gallery>
                            <img src="{{ picture.picture|thumbnail_url:'boxThumbs' }}" alt="{{ picture.picture.name }}" />
                        </a>
					{% endfor %}

				{% else %}
				<div class="col-md-12" style="padding:5px 5px 0px 0px;">
					<div class="alert alert-info"><strong>Hey!</strong> Cette boite est actuellement vide, déposez vos photos ;)</div>
				</div>
				{% endif %}
        </div>

  		<div class="col-md-3" style="padding:5px 0px">
            {%  if box.description %}
            <div class="well well-sm" id="description">
                <h4>Description:</h4>
  			    <i style="text-align:justify">{{ box.description }}</i>
            </div>
            {% endif %}

            <div>

                {% if box|was_here:user %}
                    <a href="{% url 'participant_del' box.slug %}" type="button" class="btn btn-primary btn-block">
                        Dire que je n'y était pas
                    </a>
                    <a href="#" type="button" class="btn btn-success btn-block" data-toggle="modal" data-target=".modal-upload">Ajouter une photo</a>
                    <a href="#" type="button" class="btn btn-success btn-block">Exporter Photos</a>
                {% else %}
                    <a href="{% url 'participant_add' box.slug %}" type="button" class="btn btn-primary btn-block">
                        Dire que j'y étais
                    </a>
                {% endif %}
                {% ifequal box.owner user %}
                        <a href="{% url 'box_update' slug=box.slug %}" type=button" class="btn btn-danger btn-block">Modifier Boite</a>
                        <a href="#" type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target=".modal-delete">Supprimer la boite</a>
                {% endifequal %}


            </div>

			<div style="margin-top:5px; border-radius:5px">
				<div id="map-canvas" style="width:100%;height:400px;"></div>
			</div>
  		</div>
	</div>
</div>

<div class="modal fade modal-upload" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="uploadModal">Ajout de photos</h4>
        </div>
        <div class="modal-body">
            {% include "upload/index.html" with box_id=box.id %}
        </div>
    </div>
  </div>
</div>

<div class="modal fade modal-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModal">Suppression de boite</h4>
      </div>
      <div class="modal-body">
        {% include "boxes/box_confirm_delete.html" with box_slug=box.slug %}
      </div>
    </div>
  </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block js %}
		<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
		<script type="text/javascript">
            function initialize() {

                var latLng = new google.maps.LatLng({{ box.location_lat|stringformat:"f" }}, {{ box.location_long|stringformat:"f" }});
                var mapOptions = {
                    zoom: 16,
                    center: latLng,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                };

                map = new google.maps.Map(document.getElementById('map-canvas'),
                  mapOptions);

                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                });

            }

			google.maps.event.addDomListener(window, 'load', initialize);

		</script>
  {{ block.super }}
{% endblock %}