{% extends "base.html" %}
{% block content %}
	<div class="container" style="margin:15px">
		<div class="row">
			<div class="col-md-9">
				<div class="tab-content">
					<div class="tab-pane" id="my">Chargement en cours ...</div>
					<div class="tab-pane active" id="public">Chargement en cours ...</div>
				</div>
			</div>

 
			<div class="col-md-3 list-group" id="menu">
				<a class="list-group-item" href="{% url 'box_new' %}">Creer une boite</a>
				<!--<a class="list-group-item" href="#">Fil d'actualités</a>-->
				<a class="list-group-item" href="#my" data-toggle="tab">Mes boites</a>
				<a class="list-group-item" href="#public" data-toggle="tab">Boites publics</a>
			</div>
		</div>
	</div>
{% endblock content %}

{% block js %}
	{{ block.super }}
	<script>
		$('#menu a').click(function() {
		

			if ( $(this).attr('data-toggle') == 'tab') {

				$('.tab-pane').each(function(){

					$(this).removeClass('active')
				});

				$( $(this).attr('href') ).addClass('active')
			}
		})

		{% include "boxes/box_ajax_list.html" with url="/box/my_boxes" id="my" title="Mes boites de souvenirs" %}
		{% include "boxes/box_ajax_list.html" with url="/box/popular_boxes" id="public" title="Les boites de souvenirs public"%}
	</script>
{% endblock %}
