{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

 <div class="container">
     <div class="row">
         <div class="col-md-7">
            <h1>{% block boxForm_title %}{% endblock %}</h1>
            <form method="post" class="form-horizontal">
            {% csrf_token %}

            {% for input in form %}
                {% if input.is_hidden  %}
                    {{ input }}
                {% else %}
                    <div class="form-group {% if input.errors %}has-error{% endif %}">
                        <label for="id_{{ input.name }}" class="col-md-4 control-label">{{ input.label }}</label>

                        <div class="col-md-8">
                            {% if input.name != 'rights' %}
                                {% render_field input placeholder=input.label class+='form-control' %}
                            {% else %}
                                {% for choice in input.field.choices %}
                                    <div class="input-group" style="margin-bottom:15px">
                                        <span class="input-group-addon">
                                            <input type="radio" name="rights" value="{{choice.0}}" {% ifequal input.value choice.0 %}checked="checked"{% endifequal %}/>
                                        </span>

                                        <label for="id_{{ choice.name }}" class="form-control">{{ choice.1 }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if input.errors %}
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md8">
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ input.errors }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <input type="submit" value="Création de la  boite à souvenir" class="btn btn-success" />
                </div>
            </div>

            </form>
         </div>
         <div class="col-md-5">
            <div id="map"></div>
         </div>
     </div>
 </div>


{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="//maps.google.com/maps/api/js?sensor=false"></script>
    <script src="//raw.githubusercontent.com/aljeux/addresspicker/master/assets/jquery.ui.addresspicker.js"></script>

	<script>
        $(function() {
            var addresspickerMap = $("#id_location_address" ).addresspicker({
                regionBias: "fr",
                mapOptions: {
                    zoom: 16,
                    scrollwheel: true,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                },
                elements: {
                    map: "#map",
                    lat: "#id_location_lat",
                    lng: "#id_location_long"
                }
            });

            var gmarker = addresspickerMap.addresspicker("marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker("updatePosition");
        });
	</script>
{% endblock %}
